.cardContainer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.247);
}
.card {
  width: 100%;
}
.card img {
  width: 100%;
}
.details {
  width: 100%;
  padding: 0 0.5rem;
  border-bottom: 1px solid brown;
  background-color: rgb(226, 226, 236);
}
.details .title {
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(68, 68, 68);
  margin-bottom: 0.4rem;
  font-family: monospace;
  text-align: center;
}
.details p {
  font-size: 1.1rem;
  font-weight: 400;
  color: black;
  text-align: center;
  margin-bottom: 0.5rem;
}
.details span {
  display: block;
  font-size: 1.3rem;
  font-weight: 900;
  text-align: center;
}
.details button {
  display: block;
  width: 100%;
  margin: 0.8rem 0;
  font-size: 1.3rem;
  font-weight: 900;
  background-color: rgba(255, 145, 0, 0.726);
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
