.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 2rem;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo img {
  width: 70px;
  margin-right: 0.5rem;
  cursor: pointer;
}
.nav-logo p {
  font-size: 1.2rem;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  text-transform: capitalize;
}
.nav-list {
  min-width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list li {
  display: inline-block;
  cursor: pointer;
}
.nav-list a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}
.nav-list hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: black;
}
.auth-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}
.auth-cart button {
  width: 100px;
  height: 35px;
  outline: none;
  border: 1px solid #7a7a7a;
  color: #515151;
  font-weight: 900;
  cursor: pointer;
  border-radius: 20px;
}
.auth-cart button:active {
  background-color: #7a7a7a;
}
.nav-counter {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  margin-left: -35px;
  margin-top: -27px;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.auth-cart-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.auth-cart-mobile button {
  width: 100px;
  height: 35px;
  outline: none;
  border: 1px solid #7a7a7a;
  color: #515151;
  font-weight: 900;
  cursor: pointer;
  border-radius: 20px;
}

.auth-cart-mobile button:active {
  background-color: #7a7a7a;
}

.cart-icon-mobile {
  position: relative;
}

.cart-icon-mobile img {
  width: 40px;
}

.cart-icon-mobile .nav-counter {
  position: absolute;
  top: 10px;
  right: -10px;
}
@media (max-width: 800px) {
  .navbar {
    padding: 0.5rem 0.1rem;
    justify-content: space-between;
  }
  .nav-list {
    flex-basis: 40%;
  }
}
/* Responsive Styles */
@media (max-width: 500px) {
  .nav-list {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    display: none;
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-list.active {
    display: flex;
  }

  .nav-list hr {
    display: none;
  }
  .nav-list li {
    padding: 0.7rem 0;
    width: 100%;
    text-align: center;
  }

  .auth-cart {
    display: none;
  }

  .auth-cart-mobile {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
